/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  /*padding: 0px;*/
}

md-icon,
button {
  cursor: pointer;
}

.mat-radio-outer-circle.mat-radio-checked {
  border-color: #3f51b5;
}

.mat-radio-inner-circle {
  background-color: #3f51b5;
}

.mat-radio-ripple .mat-ripple-element {
  background-color: rgba(#3f51b5, 0.26);
}
